.super-mario {
  width: 200px;
  position: absolute;
  top: 280px;
  
}

.goomba {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 580px;
  left: 70px;
  
}

.baloon {
  position: absolute;
  top: 70px;
}

.speach {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 30px;
  text-align: center;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 260px;
  top: 240px;
  
}