html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 460px) {
    body {
      background-color: burlywood;
    }

    header p {
      text-align: center;
      font-size: 30px;
    }

    h2 {
      text-align: center;
    }

    h1 {
      text-align: center;
      font-size: 25px;
    }
    
    body {
      padding: 10px;
    }

    p {
      text-align: justify;
    }
  }

  @media screen and (max-width:1300px) and (min-width:461px) {
    body {
      background-color: cornsilk;
    }

    header p {
      text-align: center;
      font-size: 40px;
    }

    header nav ul {
      display: flex;
      justify-content:space-between;
      max-width: 40%;
    }

    .aside-one .aside-two {
      
    }
  }
