h1{font-size: 65px; color: orange; font-family: sans-serif; text-align: center; font-style: italic;}
ul{background-color: orange;}
.cor{background-color: orange;}
p {font-weight: 600px; font-size: 3em;}
body {font-size: 16px;}
#marrom{background-color: brown;}
#amarelo{background-color: yellow;}
#vermelho{background-color: red;}